/* @import url("../reset.css"); */
@import url("../common.css");

header,
main,
h3{
    text-align: center;
    margin: 0 auto;
}

label,
input,
button,
h3 a{
    padding: .3rem;
    margin: .3rem;
}
a{
    padding: 1rem;
    margin: 1rem;
}